.container {
  padding: 20px;
}

.row {
  padding-top: 10px;
}

.ES_Enhance{
  color: #FF453A;
}

.ant-modal-content{
  max-height: 800px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}