.GTD{
    margin-top: 30px;
    margin-bottom: 30px;
}
.GTD .ant-layout-header{
    background-color: #F0F2F5;
}
.GTD .CheckBox{
    border: 2px solid #383838;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.GTD .NotePart{
    background-color: #f0f0f0;
    min-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.GTD .wmde-markdown{
    font-size: 14px;
}