.Mind{

}

.Mind .Icon{
    width: 70px;
    height: 70px;
}

.Mind .adm-text-area-element{
    font-size: 20px;
}

.Mind .Happy{
    background-color: #87d068;
}

.Mind .Unhappy{
    background-color: #108ee9;
}

.Mind .Star{
    background-color: #ff8f1f;
}

.Mind .Important{
    background-color: #ff3141;
}
.Mind .adm-divider-horizontal{
    margin: 20px 0px;
}

.Mind .MindList{

}

.Mind .MindList .adm-rate-star{
    font-size: 20px;
}

.Mind .MindList .adm-list-item-content-main{
    font-size: 20px;
}

.Mind .MindList .dateTitle{
    font-size: 20px;
}

.Mind .MindList .withImage{
    color:white;
}