.MindNote{
    width: 100vw;
    height: 80vh;
}

.MindNote .ant-row{
    height: 100%;
}

.MindNote .ant-card-head{
    padding:0px !important;
}

.MindNote .ant-card-body{
    padding:0px !important;
}