.PointRoad{

}

.PointRoad .Point{
    /*border: 3px solid #1AA9FF;*/
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}